* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 100px;
}

.book-container {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-book {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.single-book ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.single-book ul li {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.form-container {
  width: 200px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  
}