* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-container {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-book {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 7px;
}

.single-book ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.single-book ul li {
  color: black;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
}
.single-book .remove{
    width: 40%;
    cursor: pointer;
    background-color: #EFEFEF;
    border: 0.2px solid #868686;
}

.form-container {
  width: 200px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 70%;
}
form button{
    cursor: pointer;
    width: 30px;
    background-color: #EFEFEF;
    border: 0.2px solid #868686;
}
input{
    padding-left: 3px;
}